:root {
  --main-color: rgba(0, 0, 0, 0.7);
  --border-color: rgba(0, 0, 0, 0.3);
}

.container {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  column-gap: 50px;
}

.column {
  border: 1px dotted var(--border-color);
  padding: 20px;
  height: 100%;
  margin-top: 20px;
}

.column__head {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}

li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  cursor:grab;
}

.activeItem, 
.content:hover,
button:hover {
  border: 1px solid var(--main-color);
}

.content {
  width: 100%;
  border: 1px dotted var(--border-color);
  margin-right: 5px;
}

button {
  background-color: #fff;
  border: 1px solid rgba(55, 49, 49, 0.3);
  color: var(--main-color);
  cursor: pointer;
}

input {
  margin-right: 5px;
  color: var(--main-color);
}